<h2>Welcome to the Schedules App!</h2>

<ul>
    {{!-- 
    In code below "each" interates over the "schedules" properties such as
    "this.user_id" which refers to the property inside the array of objects
    --}}
    {{#each show_schedules}}
        <li>user id: {{this.user_id}}</li>
        <li>day: {{this.day}}</li>
        <li>start at: {{this.start_at}}</li>
        <li>end at: {{this.end_at}}</li>
        <hr>
    {{/each}}
</ul>



    {{!-- 
    In code below "each" interates over the "schedules" properties such as
    "this.user_id" which refers to the property inside the array of objects
    --}}

 <ul>
    {{!-- 
    In code below "each" interates over the "schedules" properties such as
    "this.user_id" which refers to the property inside the array of objects
    --}}
    {{#each show}}
        <li>user id: {{this.user_id}}</li>
        <li>day: {{this.day}}</li>
        <li>start at: {{this.start_at}}</li>
        <li>end at: {{this.end_at}}</li>
        <hr>
   {{/each}}
    
</ul>
   
