 <h2>Welcome to the Users App!</h2>

{{!-- 
If startment runs if variable exists 
or isn't assigned to an eempty value 
--}}
<ul>
    {{!-- 
    In code below "each" interates over the "users" properties such as
    "this.firstname" which refers to the property inside the array of objects
    --}}
    {{#each show_users}}
        <li>firstname: {{this.firstname}}</li>
        <li>lastname: {{this.lastname}}</li>
        <li>email: {{this.email}}</li>
        <li>password: {{this.password}}</li>
        <hr>
    {{/each}}
</ul>


<ul>
    {{!-- 
    In code below renders each user according to id parameter
    --}}
        <li>firstname: {{user.firstname}}</li>
        <li>lastname: {{user.lastname}}</li>
        <li>email: {{user.email}}</li>
        <li>password: {{user.password}}</li>
        <hr>
</ul>




