 <h2>Welcome to the Users App!</h2>

<ul>

    {{#each show_users}}
        <li>firstname: {{this.firstname}}</li>
        <li>lastname: {{this.lastname}}</li>
        <li>email: {{this.email}}</li>
        <li>password: {{this.password}}</li>
        <hr>
    {{/each}}

</ul>

<ul>
        <li>firstname: {{user.firstname}}</li>
        <li>lastname: {{user.lastname}}</li>
        <li>email: {{user.email}}</li>
        <li>password: {{user.password}}</li>
        <hr>
</ul>

      <form action="/users" method="post" role="form" enctype="application/x-www-form-urlencoded">
            First Name: <input type="text" name="firstname"> <br><br>
            Last Name: <input type="text" name="lastname"> <br><br>
            Email: <input type="email" name="email"> <br><br>
            Password: <input type="password" name="password"> <br><br>
         <input type="submit" value="submit">        
      </form>
      <br><br>
      
      <ul>
        <li>first name: {{firstname}}</li>
        <li>last name: {{lastname}}</li>
        <li>email: {{email}}</li>
        <li>password: {{password}}</li>
        <hr>
      </ul>





